/*Big tablet to 1200px - widths smaller than the 1140px row*/
@media only screen and (max-width: 1200px) {
  body {
    /* font-size: 14px; */
  }

  h4 {
    margin-bottom: 30px;
  }

  .services-container {
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }

  .service-card {
    width: 60%;
    gap: 1.2rem;
  }

  .service-card {
    padding: 1% 2%;
  }

  .work-photo img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
  }

  .gallery-bottom {
    font-size: 0.95rem;
    text-align: center;
  }

  .gallery-box:last-child {
    /* padding-left: 1%; */
  }

  .gallery-box:first-child {
    /* padding: 0 5%; */
  }

  .price-boxes {
    max-width: 90%;
  }
  .package-box {
    width: 100%;
    margin-right: 20px;
    box-shadow: 0 2px 2px #efefef;
    text-align: left;
  }
}

/*Small tablet to Big tablet - 768px to 1023px*/
@media only screen and (max-width: 1023px) {
  body {
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 32px;
  }

  header h2 {
    font-size: 1.2rem;
    word-spacing: 1px;
    margin-bottom: 0;
    letter-spacing: 0.5px;
  }

  header {
    height: 80vh;
  }

  header .btn:link,
  header .btn:visited {
    padding: 22px 40px;
    border-radius: 50px;
    font-size: 1rem;
  }

  .logo {
    height: 60px;
  }

  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited {
    font-size: 0.9rem;
  }

  h3 {
    margin-bottom: 30px;
  }

  h4 {
    margin-bottom: 20px;
  }

  p {
    font-size: 0.95rem;
  }

  .header-box {
    margin-top: 5rem;
  }

  .about-heading {
    font-size: 32px;
  }

  .about-box {
    width: 80%;
  }

  .about-text-box {
    margin-right: 8%;
  }

  .laptop-screen {
    width: 35%;
    border-radius: 20px;
  }

  /* .section-about {
	    padding-bottom: 400px;
	} */

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
  }

  .row-define {
    max-width: 80%;
  }

  .define-para {
    max-width: 300px;
    font-size: 0.95rem;
  }

  .section-services {
    padding: 0 2%;
  }

  .gallery-container {
    flex-direction: column;
  }

  .gallery-box {
    max-width: 90%;
    margin: 0 0 40px 0;
  }

  .gallery-h3 {
    font-size: 1.2rem;
    max-width: 600px;
  }

  .gallery {
    font-size: 1rem;
    margin: 30px 0;
  }

  .gallery-box:first-child {
    padding: 0 3.5%;
  }

  .define-box,
  .define-box-right {
    margin: 25px 0px;
  }

  .define-img {
    width: 88%;
  }

  .define-img-right {
    width: 88%;
  }

  .service-heading {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 70px;
  }

  .what-defines-us {
    width: 350px;
  }

  .define-us {
    width: 300px;
    font-size: 1.3rem;
  }

  .define-us:after {
    width: 280px;
    margin: 10px 0;
  }

  /* .service-card {
    padding: 1% 1%;
  } */

  .overlay-testimonials {
    padding: 80px 60px;
  }

  .packages-heading {
    margin-bottom: 30px;
  }

  .package-box {
    width: 100%;
  }

  .quotes-box {
    flex-direction: column;
    padding-inline: 40px;
    padding-top: 60px;
    padding-bottom: 0;
  }

  cite {
    margin-top: 10px;
  }

  cite img {
    height: 80px;
  }

  .span_1_of_2 {
    margin-right: 0px !important;
  }

  .price-boxes {
    max-width: 60%;
    flex-direction: column;
    gap: 4rem;
  }

  .price-deal {
    max-width: 100%;
  }

  .package-box div:first-child {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .package-price-duration {
    font-size: 90%;
    max-width: 80%;
  }

  .package-box div {
    display: flex;
    padding: 29px;
    border-bottom: 1px solid #e8e8e8;
    height: 16rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact-form {
    width: 80%;
  }

  .mail-gif {
  }

  .container {
    margin: 2rem;
  }

  .contact-img {
  }

  form {
  }

  form .title {
    font-size: 2rem;
  }

  textarea#formMessage {
    width: 400px;
  }

  .section-packages {
  }

  .icon-small {
    margin-right: 3px;
  }

  footer {
    padding: 20px;
    font-size: 90%;
  }
}

/*Small phone to small tablet - 481px to 767px*/
@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 3.2rem;
    word-spacing: 2px;
    letter-spacing: 0px;
  }

  header h2 {
    font-size: 1rem;
  }

  h2 {
    font-size: 24px;
    word-spacing: 1px;
    margin-bottom: 0;
    letter-spacing: 0px;
    margin-bottom: 20px;
  }

  h3 {
    margin-bottom: 20px;
  }

  h4 {
    margin-bottom: 10px;
  }

  section {
    padding: 40px 0 70px;
  }

  header {
    height: 80vh;
  }

  .header-box {
    margin-top: 5rem;
  }

  header .btn:link,
  header .btn:visited {
    font-size: 0.8rem;
  }

  /* 
	.span-1-of-4 {
		width: 40%;
	}

	.span-1-of-2 {
		width: 45%;
	}

	.span_1_of_3 {
	    width: 100%;
	} */

  .about-box {
    flex-direction: column;
  }

  .about-heading {
    font-size: 24px;
    text-align: center;
    margin-bottom: 0;
  }

  .about-para {
    text-align: center;
  }

  .about-text-box {
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
    margin-right: 0;
  }

  .laptop-screen {
    width: 60%;
  }

  h2.work-heading,
  .define-heading,
  h2.service-heading,
  h2.testimonials-heading {
    font-size: 24px;
  }

  h2.service-heading {
    margin-top: 20px;
  }

  h2.testimonials-heading {
    margin-bottom: 0;
  }

  /* .section-about {
	    padding-bottom: 375px;
	}

	.about-box:last-child {
	    text-align: center;
	    padding: 5% 0 5%;
	}

	.about-box:first-child {
	    padding: 0 8%;
	} */

  .section-define {
    /* gap: 3rem; */
  }

  .section-define:first-child {
    gap: 0;
  }

  .row-define {
    flex-direction: column-reverse;
    max-width: 100%;
  }

  .row-define-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .define-heading {
    margin-bottom: 0;
  }

  .define-img,
  .define-img-right {
    width: 50%;
    margin-right: 0;
    margin-left: 0;
  }

  .define-us:after {
    width: 76vw;
  }

  .what-defines-us {
    width: 100vw;
  }

  .define-box,
  .define-box-right,
  .define-box:first-child,
  .define-box:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: auto;
    padding: 0;
    width: 80vw;
  }

  .define-us {
    margin-top: 3rem;
    margin-bottom: 70px;
    text-align: center;
    width: 80vw;
  }

  .define-para {
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  /* .define-box-right:first-child {
    padding: 0 5%;
  } */

  /* .define-box:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 3%;
  } */

  h3.define-us:after {
    margin: 0;
  }

  .services-container {
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }

  .service-card {
    width: 80%;
    gap: 1.2rem;
  }

  .icon-pic {
    margin-bottom: 0;
  }

  h3:after {
    margin-top: 20px;
  }

  .card-container {
    width: 95vw;
  }

  .gallery-h3 {
    margin: 0;
    font-size: 1rem;
  }

  .section-services {
    margin: 40px 0;
  }

  .gallery {
    margin: 0;
    margin-bottom: 2rem;
  }

  .gallery-box:first-child {
    padding: 0 1%;
  }

  .work-para {
    margin-top: 5px;
  }

  .gallery-box:last-child {
    padding-left: 5%;
  }

  .overlay-testimonials {
    padding: 60px 10px;
  }

  .section-packages {
    padding-inline: 5%;
  }

  .price-boxes {
    max-width: 90%;
  }

  .package-box {
    margin-left: 0;
    margin-right: 0;
  }

  .work-photo img {
    height: 120px;
    border-radius: 20px;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
  }

  .icon-big {
    margin-bottom: 10px;
  }

  cite img {
    height: 70px;
  }

  blockquote {
    padding: 0;
    margin-top: 10px;
  }

  .container {
    flex-direction: column-reverse;
    margin: 1rem;
    gap: 2rem;
  }

  form .title {
    font-size: 24px;
  }

  .form-control::placeholder {
    font-size: 14px;
  }

  textarea#formMessage {
    padding: 1rem 4rem 0.5rem 1.5rem;
  }

  input#formName,
  input#formEmail {
    height: 3.3rem;
    padding: 0.5rem 1.5rem;
  }

  /* .span_1_of_2 {
    width: 49.2%;
    margin-right: 0px !important;
  } */

  .mail-gif {
    max-width: 75%;
  }

  .footer-nav li,
  .social-links li {
    margin-bottom: 3px;
  }
}

/*Small phones - 0 to 480px*/
@media only screen and (max-width: 480px) {
  /* body {
    font-size: 8px;
  } */

  h1 {
    font-size: 2.2rem;
  }

  header h2 {
    font-size: 0.75rem;
    word-spacing: 0;
    margin-bottom: 0;
    letter-spacing: 0;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  h4 {
    margin-bottom: 5px;
  }

  h3:after {
    margin-top: 15px;
  }

  p {
    font-size: 0.9rem;
  }

  .nav-row ul {
    margin-right: 1rem;
    margin-top: 0;
  }

  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited {
    font-size: 0.75rem;
  }

  .nav-row img {
    margin-left: 1rem;
  }

  .nav-row {
    justify-content: space-around;
  }

  .logo {
    height: 40px;
  }

  header {
    height: 100vh;
  }

  /* .span_1_of_2 {
    width: 49.2%;
  }

  .span_1_of_3 {
    width: 80%;
  }

  .span_1_of_4 {
    width: 80%;
  } */

  /* .main-nav {
    list-style: none;
    margin-top: 20px;
    margin-right: auto;
  } */

  .header-box {
    width: 250px;
  }

  .header-text-box {
    margin-bottom: 1rem;
  }

  header .btn:link,
  header .btn:visited {
    font-size: 0.65rem;
    padding: 16px 24px;
    border-radius: 50px;
  }

  .about-box {
    width: 85%;
  }

  .about-text-box {
    gap: 1.5rem;
  }
  /* .about-box:first-child {
    text-align: center;
    padding: 0 10%;
  }

  .about-box:last-child {
    text-align: center;
    padding: 0;
  } */

  .laptop-screen {
    width: 80%;
  }

  .work-showcase li {
    width: 50%;
  }

  .define-heading {
    margin-bottom: 1rem;
  }

  .define-img,
  .define-img-right {
    width: 100%;
    margin-bottom: 3rem;
  }

  .what-defines-us {
    align-items: center;
  }

  .define-us {
    margin-top: 2rem;
    margin-bottom: 65px;
    width: 90vw;
  }

  .define-us:after {
    width: 83.5vw;
  }

  .define-para {
    max-width: 90%;
  }

  /* .define-box-right:first-child {
    padding: 0 2%;
  } */

  /* .define-heading {
    margin: 30px 0 0px 0;
  } */

  .section-services {
    margin: 20px 0;
  }

  .card-container {
    width: 100vw;
    top: 55.4%;
    padding: 10px;
    border-radius: 12px;
  }

  .card {
    gap: 1rem;
    padding: 20px;
    border-radius: 15px;
  }

  .card p {
    line-height: 1.2rem;
    font-size: 0.75rem;
  }

  .close-button {
    font-size: 12px;
    padding: 8px 20px;
    border-radius: 20px;
  }

  .gallery {
    font-size: 1rem;
  }

  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    grid-gap: 2rem;
  }

  .work-photo img {
    height: auto;
  }

  .work-photo {
    border-radius: 15px;
  }

  .photo-justify {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-gallery {
    padding-bottom: 30px;
  }

  .gallery-box:last-child {
    padding: 0 20px;
  }

  .gallery-bottom {
    font-size: 0.9rem;
  }

  .testimonial-box {
    margin-bottom: 20px;
  }

  .section-packages {
    padding-bottom: 50px;
  }

  .price-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .packages-heading {
    margin-top: 0px;
    margin-bottom: 0;
  }

  /* .package-box div:last-child {
    padding: 15px 15px 25px 15px !important;
  } */

  .package-box {
    margin-bottom: 20px;
  }

  .price-boxes {
    gap: 1rem;
  }

  .contact-img {
    max-width: 100%;
  }

  form {
    .form-control {
      box-shadow: 0px 1px 2px 0px #2219004a;
      border-radius: 20px;
    }
  }

  input#formName,
  input#formEmail {
    height: 2rem;
    padding: 0.5rem 1.5rem;
  }

  form div {
    margin: 10px 0;
  }

  #formMessage.form-control {
    width: 100%;
    height: 6rem;
  }

  #formName.form-control,
  #formEmail.form-control {
    height: 3rem;
    width: 100%;
  }

  .btn.btn-primary {
    padding: 12px 26px;
    margin-top: 1rem;
  }

  .form-control::placeholder {
    font-size: 0.8rem;
  }

  footer {
    padding: 20px 10px;
  }
}
